{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height:80vh; background-color:#f4f6f9;">
  <div class="card shadow p-4" style="width: 400px; border-radius:15px;">
    <h3 class="text-center mb-3">Login</h3>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Enter your username" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Enter your password" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
    <p class="text-center mt-3">
      Don’t have an account?
      <a href="{% url 'register' %}">Register</a>
    </p>
  </div>
</div>
{% endblock %}
